@model PagedList.IPagedList<Model.EF.m_information>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<div class="au-breadcrumb-content">
    @using (Html.BeginForm("Index", "Content", FormMethod.Get))
    {
        <form class="au-form-icon--sm" action="" method="post">
            <input style="margin-left:1300px;border-radius:10px" class="au-input--w300 au-input--style2" type="text" name="Search" placeholder="Search for datas &amp; reports...">
            <button class="au-btn-submit2" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    }
</div>
<div class="card-header py-3">
    <button class="btn btn-success"><h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("Thêm nội dung", "Create")</h6></button>
</div>
<br />

<div class="bs-example widget-shadow" style="margin-left:25px">
    <h4 style="margin-left:20px">Danh sách tài khoản:</h4>
    <table class="table table-bordered" style="margin-left:20px">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Tiêu đề</th>
                <th>Trạng thái</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
                <th colspan="2">
                    Chức năng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr id="row_@item.Id">
                <th>@item.Id</th>
                <th>@item.Name</th>
                <th>@item.Metatile</th>
                <th>@item.Status_I</th>
                <th>@item.CreateDate</th>
                <th>@item.CreateBy</th>
                <td>
                    <button class="btn btn-primary" style=""><a href="/Admin/Content/Edit/@item.Id" style="color:#000000">Sửa</a></button>

                    @Ajax.ActionLink("Xoá", "Delete", new { @id = item.Id }, new AjaxOptions
               {
                   Confirm = "Bạn có chắc muốn xóa bản ghi này ?",
                   OnComplete = "$('#row_" + @item.Id + "').remove()",
                   HttpMethod = "Delete"
               }, new { @class = "btn btn-warning" })
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div style="margin-left:25px">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Content", new { page }))
    </div>
</div>